header{
    width: 620px;
    height: 15px;
    margin:0px 330px;
    top: 31.5px;
   padding-bottom: 31.5px;}      
ul{
    text-align: center;
    word-spacing: 25.5px;
    font-weight: 700;
}
li{
    display: inline-block;
    list-style-type: none;
}
a{
    color: red;
    text-decoration: none;        
}
main{
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;
}    
    article{
        text-align: center;
        width: 1280px;
}
h2{

margin:16px auto;   
width: 774px;
height: 29px;
border-top: 49px;
border-bottom: 38px;
font-weight: 700;
}
p{
padding-left: 67.5px;
padding-right: 67.5px;    
}
button{
    margin-top:  42px;
    background: red;
    color: white;
    border: 0px;
    line-height: 51px;
    width: 191px;
    font-weight: 700;
}
footer{
 margin-top: 82px;   
}
b{
 border-top :82px;   
font-size: 15px;
font-weight: 700;
margin-left: 713px;
padding-bottom: 29px;
width: 462px;
}



