*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}



#section-1{
background: url(../Img.folder/section-1\(header\).jpg);
background-repeat:no-repeat ;
background-size: cover;
background-attachment: fixed;

}
header{
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);

}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
background: url(../Img.folder/Polygon\ 1\ 1.svg);
height: 70px;
width: 70px;
background-repeat: no-repeat;
   

}


.logo-symbol{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;  
}

.nav-links{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.nav-links li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type:none;
    padding-right: 20px; 
    color: white; 
    font-size: 20px; 
}
.home:hover{
    color: rgb(79, 238, 238);
}

content{
    text-align: center;
    color: white;  
}
h3{
    padding-top: 379px;
    word-spacing: 5px;
    padding-bottom: 22px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.attribute{
    font-size: 78px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 22px;
}
h6{
    font-size: 34px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 134px;
}
.btns{
    padding-bottom:243px ;
}
.btn1{
    height: 63px;
    width: 169px;
    background: #18CFAB;
    color: white;
    margin-right: 10px;
    border-top: 4px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.btn2{
    height: 63px;
    width: 169px;
    background: #0aa06e;
    color: white;
    margin-left: 10px;
    border-top: 4px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.rectangle-shapes{
    display: flex;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(228, 217, 217);   
}
.rect1{
 display: flex;
 justify-content: center;
 align-items: flex-end;
 padding-bottom: 110px;
 font-size: 20px;
 color: #18CFAB;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
background: #1C2A33;
width: 100%;
height: 377px;
    
}
.rect2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 110px;
    font-size: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #18CFAB;
    width: 100%;  
}
.rect3{
    display: flex;
 justify-content: center;
 align-items: flex-end;
 padding-bottom: 110px;
 font-size: 20px;
 color: #18CFAB;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
background: #1C2A33;
    background: #1C2A33;
    width: 100%;
}
.rect4{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 110px;
    font-size: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #18CFAB;
    width: 100%;

/* ===============SECTION 2================== */

}
.section2{
    text-align: center;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 83px;
    margin-bottom: 101px;
        
}
.mytabs input[type="radio"]{
    display: none;
}
.mytabs label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:whitesmoke ;
    color: grey;
    margin-bottom: 23px;
    padding: 25px;
    
}
.mytabs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
    margin: 0 auto;
}
.mytabs .tabs{
    display:flex;
    justify-content: center;
    align-items: center;
    order: 1;
    display: none;
}

.mytabs p{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: inline-block;
    padding-bottom: 50px;
    padding: 15px;
    width: 700px;

}
.mytabs input[type="radio"]:checked + label + .tabs{
    display: block;
}
.mytabs input[type="radio"]:checked + label{
    background-color:#18CFAB ;
    
}
.tabs{
    display: flex;
    justify-content: center;
}

/* ======================SECTION 3===================== */

.section3{
    
    background: url(../Img.folder/Layer\ 21\ 1.png);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    
    height: 476px;
}
.advice{
    padding-top: 126px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: mediumturquoise;
    font-size: 40px;

}
.advertise{
    padding-top:13px ;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 100;
}
.btn3{
    margin-top: 62px;
    padding: 16px 11px;
    background: mediumturquoise;
    color: white;
    border-top: 4px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ====================SECTION 4==================== */


.section4{
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
    padding-top: 40px;
}
.OAW{
display: flex;
justify-content: center;
font-size: 36px;
margin-top: 50px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

.section4 ul{
    display: flex;
    margin-bottom: 10px;
}
.section4 ul li{
    list-style-type: none;
    background:rgb(253, 252, 252);
    padding: 8px 20px;
    margin: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}
.section4 ul li.active{
    background:rgb(94, 87, 87) ;
    color: white;
}
.designs{
    display: flex;
    flex-wrap: wrap;
}
.designs .itemBox{
    position: relative;
    width: 300px;
    height: 300px;
    margin:2px;

}
.designs .itemBox  img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

/* ==============================SECTION 5============================== */



.breaking-news{
text-align: center;
font-size:36px;
margin-top: 82px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-bottom: 100px;
}
.gallery2{
 display: flex;
 justify-content: center;
 margin-bottom: 40px;  
}
figcaption{
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
label{
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.figcap1:hover{
    color: rgb(19, 209, 190);
}
.fig1{
    margin-right: 35px;
    background-color: whitesmoke;
    padding-bottom: 10px;
}
.fig2{
    margin-right: 35px;
    background-color: whitesmoke;
    padding-bottom: 10px;

}
.fig3{
    margin-right: 35px;
    background-color: whitesmoke;
    padding-bottom: 10px;

}
.fig4{
    background-color: whitesmoke;
    padding-bottom: 10px;
}
.gallery3{
display: flex;
 justify-content: center; 
}

.fig-a{
    margin-right: 35px;
    background-color: whitesmoke;
    padding-bottom: 10px;
}

.fig-b{
    margin-right: 35px;
    background-color: whitesmoke;
    padding-bottom: 10px;
}
.fig-c{
    margin-right: 35px;
    background-color: whitesmoke;
    padding-bottom: 10px;
}
.fig-d{
    background-color: whitesmoke;
    padding-bottom: 10px;
}
.section6{
    background: url(../Img.folder/Layer\ 333.png);
    text-align: center;
    margin-top: 128px;
}
.review{
    color: white;
    padding-top: 98px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Note{
   margin-left: 379px;
   margin-right: 381px;
   color: white;
   margin-top: 150px;
   margin-bottom: 37px;
   font-weight: 100;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: deepskyblue;
    margin-bottom: 10px;
}
.profession{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    margin-bottom: 38px;
}
.boss{
    margin-bottom: 56px;
    
}

.staff1{
  margin-right: 20px;
  padding-bottom: 60px; 
}
.staff2{
    margin-right: 20px;
    padding-bottom: 60px;   

}
.staff3{
    margin-right: 20px; 
    padding-bottom: 70px;

}
.staff4{
    padding-bottom: 60px;

}
.section7-header{
    text-align: center;
    font-size: 40px;
    margin-top: 95px;
    margin-bottom: 95px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
 .gallery4{ 
   display: flex;
    margin: 0 auto;
   max-width: 1160px;


    
 }
 .series0{ 
  margin-right: 0px; 

 }
.series1{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.series2{
    display:inline-block;

}
.series3{
    width: 365px;
    display:inline-flex;
    flex-wrap: wrap;
    height: 276px;

}
.btn5{
    display: flex;
    justify-content: center;
    margin-bottom: 88px;

}
.button1{
    font-size: 20px;
    color: white;
    padding: 13px 15px 15px 20px;
    background: mediumturquoise;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.more{
    padding-left: 30px;
    padding-right: 20px;
}
footer{
background: #22353F;
text-align: center;
padding-top: 48px;
padding-bottom: 47px;
font-size: 20px;
color: white;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-bottom: 20px;

}
.Ham{
    color: mediumturquoise;
}
.colorful{
    color: mediumturquoise;
}












