
.heading{
    padding:20px 98px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    margin-top: 63px;
}
a{ 
    width: 334px; 
    height: 79px; 
    color: aqua;
    text-decoration: none;
}
.nav{
    text-align: center;    
    width:1283px;
    height: fit-content;
    margin-left:98px;
    margin-right: 99px;
    background-color: darkslategray;
    border-spacing: 0px;
}
.nav li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.2em;
    color: white;
    padding: 10px;
    display:inline-block;
    border: 2px solid white;
    border-spacing: 0px;
}
.nav ul{
    border-collapse: collapse;
    border-spacing: 0pxs;
}
section{
    display: flex;
}
.Ramda:hover{
    background: rgb(15, 27, 27,3);
}
.Node li{
    border-right:2px solid white;   
}


 aside{
    
    font-size:16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.element-1{
    display:flex;
    width: 339px;
    padding-right:30px;
    height:300px ;
    margin-left: 101px;
    margin-top: 49px;
    border: 2px solid grey;
}
.element-1 li{
    list-style: none;
    padding-bottom: 30px;
    width: 100%;
}
.element-2{
    display: inline-block;
    height: 200px;
    border: 2px solid grey;
    width:300px;
    padding-left: 300px;
    padding-right: 250px;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-left: 0px;
}
main{
    width: 885px;
    padding-top: 50px;
    margin-left: 52px;
    margin-right: 99px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
footer{
    width: 1280px;
    height: 69px;
    background: darkgray;
    margin-left: 100px;
    margin-bottom: 30px;
}
footer li{
    display: inline-block;
    list-style:none ;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom:20px ;
    padding-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}   
.emphasis:hover{
      background: darkgray;
    padding: 10px;
}
.hover:hover{
    color: aqua;    
}
.Ra{
       color: black;
}

